@import url('general.css');

/*CLASES DE LA CARD*/
.container-images-card-view .card-image{
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 30px var(--color-primario);
    border-radius: 20px;
}

@media(width <= 580px){
    .container-card-view{
        display: block !important;
    }
    
    .container-images-card-view{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        align-items: center;
    }
}