/*GENERAL*/
:root {
    --rojo-oscuro: #F90000;
    --rojo-claro: #F34F51;
    --negro-claro: #1E1E1E;
    --texto-color: #FFFFFF;
    --texto-chico: 12px;
    --texto-mediano: 16px;
    --texto-grande: 24px;
    --fuente-principal: 'Jaro', serif;
    --fuente-secundaria: "Varela Round", serif;
  }

*{
    margin: 0;
    padding: 0;
}

/*CUSTOMIZACIONES*/
.costum-button{
    color: var(--negro-claro);
    font-size: 48px;
}

.costum-carousel{
    margin-top: 75px;
}

.costum-navbar{
    background-color: var(--rojo-oscuro);
    width: 100%;
    display: flex;
    top: 0px;
    align-items: end;
    z-index: 10;
}

/*TIPOGRAFIAS*/
.jaro {
  font-family: var(--fuente-principal);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--texto-grande);
}

.varela-round-regular {
    font-family: var(--fuente-secundaria);
    font-weight: 400;
    font-style: normal;
    font-size: var(--texto-grande);
  }

/*ESTILOS DEL SCROLL*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--negro-claro);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--rojo-claro);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--rojo-oscuro);
}

/*CLASES DE LOS PRODUCTOS*/

.container-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-productos .container-cards {
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.container-productos .container-cards .costum-card{
  box-shadow: 0px 2px 8px #000000;
  flex: 1 1 calc(25% - 20px);
  max-width: 300px;
  min-width: 200px;
}

.boton-principal{
  width: fit-content;
  padding: 12px 12px;
  font-family: var(--fuente-principal);
  background-color: var(--rojo-claro);
  color: white;
  text-decoration: none;
  border: var(--rojo-oscuro) solid 3px;
  border-radius: 10px;
}

/*CLASES DEL FOOTER*/
footer{
  background-color: var(--negro-claro);
}

footer > .footer-content {
  display: flex;
}

footer > .footer-content .container-image {
  width: 25%;
  height: 25%;
  padding: 0;
  width: auto;
}

footer > .footer-content .container-info {
  width: 100%;
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
}

footer > .footer-content div h4 {
  color: var(--rojo-claro);
}

footer > .footer-content div ul {
  margin: 0;
  padding: 0;
}

footer > .footer-content div ul li {
  list-style-type: none;
  color: var(--texto-color);
  font-family: var(--fuente-secundaria);
  margin-bottom: 12px;
}

footer > .footer-content div ul li a {
  color: var(--texto-color);
  text-decoration: none;
}

footer > .footer-content div ul li a:hover {
  color: var(--rojo-claro);
  text-decoration: underline;
}

.icons-redes{
  display: flex;
  width: 100%;
}

.icons-redes a i{
  color: var(--rojo-claro);
  font-size: 48px;
}

footer > .footer-autor{
  color: var(--texto-color);
  border-top: 2px solid var(--texto-color);
  padding: 12px;
  text-align: center;
}

/*MEDIA QUERYS*/
@media (width < 680px) {
  footer > .footer-content .container-image {
    display: none;
  }
}

@media (width < 680px) {
  footer > .footer-content .container-image {
    display: none;
  }
}