/*GENERAL*/
:root {
    --color-primario: #F90000;
    --color-secundario: #F34F51;
    --negro-claro: #1E1E1E;
    --texto-color: #FFFFFF;
    --texto-chico: 12px;
    --texto-mediano: 16px;
    --texto-grande: 24px;
    --fuente-principal: 'Jaro', serif;
    --fuente-secundaria: "Varela Round", serif;
}

*{
    margin: 0;
    padding: 0;
}

/*TIPOGRAFIAS*/
.jaro {
    font-family: var(--fuente-principal);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 
  
.varela {
    font-family: var(--fuente-secundaria);
    font-weight: 400;
    font-style: normal;
}

/*ESTILOS DEL SCROLL*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--negro-claro);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secundario);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primario);
}
  
/*CUSTOMIZACION DEL MENU*/
.costum-navbar{
    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    top: 0px;
    align-items: end;
    z-index: 10;
}


/*CLASES DEL FOOTER*/
footer{
    background-color: var(--negro-claro);
}
  
footer > .footer-content {
    display: flex;
}
  
footer > .footer-content .container-image {
    width: 25%;
    height: 25%;
    padding: 0;
    width: auto;
}
  
footer > .footer-content .container-info {
    width: 100%;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}
  
footer > .footer-content div h4 {
    color: var(--color-secundario);
}
  
footer > .footer-content div ul {
    margin: 0;
    padding: 0;
}
  
footer > .footer-content div ul li {
    list-style-type: none;
    color: var(--texto-color);
    font-family: var(--fuente-secundaria);
    margin-bottom: 12px;
}
  
footer > .footer-content div ul li a {
    color: var(--texto-color);
    text-decoration: none;
}
  
footer > .footer-content div ul li a:hover {
    color: var(--color-secundario);
    text-decoration: underline;
}
  
.icons-redes{
    display: flex;
    width: 100%;
}
  
.icons-redes a i{
    color: var(--color-secundario);
    font-size: 48px;
}
  
footer > .footer-autor{
    color: var(--texto-color);
    border-top: 2px solid var(--texto-color);
    padding: 12px;
    text-align: center;
}

/*CLASES DEL FORMULARIO*/

form.agregar-margin {
    margin-top: 100px;
}

.input-form {
    width: 100%;
    border-radius: 10px;
    border: var(--color-secundario) solid 2px;
    font-family: var(--fuente-secundaria);
    padding: 10px 8px;
}

form .input-form::placeholder{
    color: var(--color-secundario);
} 

.input-form:focus {
    outline: none; 
    border: var(--color-primario) solid 3px;
}

textarea {
    resize: none; /* Desactiva la opción de redimensionar */
}

.boton-principal{
    width: fit-content;
    padding: 12px 12px;
    font-family: var(--fuente-principal);
    background-color: var(--color-secundario);
    color: white;
    text-decoration: none;
    border: var(--color-primario) solid 3px;
    border-radius: 10px;
}

.boton-principal:focus{
    background-color: var(--texto-color);
    color: var(--color-secundario);
}


/*CUSTOMIZACIONES*/
.costum-button{
    color: var(--negro-claro);
    font-size: 48px;
}

.costum-carousel{
    margin-top: 75px;
}

/*CLASES DE LOS PRODUCTOS*/

.container-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-productos .container-cards {
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.container-productos .container-cards .costum-card{
  box-shadow: 0px 2px 8px #000000;
  flex: 1 1 calc(25% - 20px);
  max-width: 300px;
  min-width: 200px;
}

/*CLASES DE LA CARD*/
.container-images-card-view .card-image{
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 30px var(--color-primario);
    border-radius: 20px;
}

/*CLASES DEL ASIDE DEL FILTRO*/
.filter-sidebar {
    padding: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
  
.aside-oculto{
    display: none;
}
  
.filter-group {
    margin-bottom: 16px;
    padding: 8px;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
  
.filter-btn {
    padding: 8px 16px;
    border: 3px solid red;
    border-radius: 30px;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.filter-btn:hover,
.filter-btn.active {
    background-color: red;
    color: white;
}

/*MEDIA QUERYS*/

@media(width <= 580px){
    .container-card-view{
        display: block !important;
    }
    
    .container-images-card-view{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        align-items: center;
    }
}

@media (width < 680px) {
    footer > .footer-content .container-image {
        display: none;
    }
}